.select {
  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    // @include padding("xs");
    border: 1px solid #c5cbe0;
    background: #fff;
    padding: 16px 24px 16px 16px;
    // font-family: $body-font-family;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    p{
      margin-right: 9px;
    }
  }

  &__caret {
    transition: all 250ms ease;

    &--open {
      transform: rotate(180deg);
    }

    &--closed {
      transform: rotate(0deg);
    }
  }

  &__overlay {
    // @include padding("none");
    // @include margin("none");

    border: 1px solid #c5cbe0;
    background-color: #fff;
    z-index: 99;
    display: none;

    list-style-type: none;

    // box-shadow: map-get($shadows, "base");

    position: absolute;

    width: 100%;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    // @include padding("xs");
    box-sizing: border-box;
  }

  &__option--highlighted {
    background-color: #c5cbe0;
  }

  &__option--selected {
    background-color: #c5cbe0;
    color: #000;
  }
}

.dse-select__overlay {
  display: none;
  list-style-type: none;
  &--open {
    display: block;
  }
}
